@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(241, 241, 249);
  min-height: 100vh;
}
.wrapper {
  width: 605px;
  background-color: rgb(252, 185, 244);
  border-radius: 1rem;
  padding: 2rem;
  margin: 1.5rem;
}
.wrapper header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.wrapper .content {
  margin: 2rem 0;
}
.content .quote-area {
  display: flex;
  justify-content: center;
}
.quote-area i {
  font-size: 1rem;
}
.quote-area i:first-child {
  margin: 3px 10px 0 0;
}
.quote-area i:last-child {
  margin: 0 0 3px 10px;
  display: flex;
  align-items: flex-end;
}
.quote-area .quote {
  font-size: 1.2rem;
  text-align: center;
  word-break: normal;
}
.content .author {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
}
.author span:first-child {
  margin: -7px 5px 0 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper .button {
  border-top: 10px solid rgb(53, 39, 27);
}
.buttons .features {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}
.features ul {
  display: flex;
}
.features ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 2px sold rgba(29, 27, 19, 0.452);
  transition: all 1s ease;
}
.features ul li:hover {
  color: rgb(240, 134, 222);
  background: rgb(237, 232, 244);
}
.features button {
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: bisque;
  border: none;
  outline: none;
  border-radius: 2rem;
  background: rgb(240, 134, 222);
}
